<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<!--  Sidebar End -->
<!--  Main wrapper -->
<th:block layout:fragment="content">
        <div class="container-fluid">
            <div class="container-fluid">
                <input type="hidden" id="number" th:value="${number}" />
                <input type="hidden" id="size" th:value="${size}" />

                <div class="input-group mb-3">
                    <input type="text" id="searchVal" class="form-control" placeholder="검색어를 입력해주세요" aria-label="Recipient's username" aria-describedby="button-addon2" th:value="${searchVal}">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2" th:onclick="gymWearList()">검색</button>
                </div>


                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="card-title fw-semibold mb-4">짐웨어&장비 목록</h1>
                            </div>

                            <div class="col-md-12" th:if="${totalCount == 0}">
                                조회된 리스트가 없습니다.
                            </div>

                            <div class="col-md-4" th:each="list, userStat : ${list}">
                                <div class="card">
                                    <img th:src="@{/thumbnail/{id}(id=${list.thumbnailIdx})}" class="card-img-top" alt="..." th:onerror="this.src='/assets/images/products/s4.jpg'">
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${list.title}">Card title</h5>
                                        <pre class="card-text" th:text="${#strings.length(list.contentsText) &gt; 20 ? #strings.substring(list.contentsText, 0, 20) + '...' : list.contentsText}">Some quick example text to build on the card title and make up the bulk of
                                            the
                                            card's content.</pre>
                                        <h5 class="card-title">[[${list.price}]]원</h5>
                                        <a th:href="@{/manage/gymWear/update/{id}(id=${list.id})}" class="btn btn-primary">수정</a>
                                        <a class="btn btn-danger" th:attr="data-id=${list.id}" th:onclick="gymWearDelete(this)">삭제</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button onclick="location.href='/manage/gymWear/write'" type="button" class="btn btn-outline-primary m-1">짐웨어&장비 등록</button>
            </div>

            <nav class="container d-flex align-items-center justify-content-center" aria-label="Page navigation example"
                 th:with="start=${(list.number/maxPage)*maxPage + 1},
                          end=(${(list.totalPages == 0) ? 1 : (start + (maxPage - 1) < list.totalPages ? start + (maxPage - 1) : list.totalPages)})">
                <ul class="pagination">

                    <li th:if="${start > 1}" class="page-item">
                        <a th:href="@{/manage/gymWear/list?(page=0, searchVal=${searchVal})}" class="page-link" href="#"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>

                    <li th:if="${start > 1}" class="page-item">
                        <a th:href="@{/manage/gymWear/list?(page=${start - maxPage-1}, searchVal=${searchVal})}" class="page-link" href="#"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li th:each="page: ${#numbers.sequence(start, end)}" class="page-item"
                        th:classappend="${list.number+1 == page} ? active">
                        <a th:href="@{/manage/gymWear/list?(page=${page-1}, searchVal=${searchVal})}" th:text="${page}" class="page-link"
                           href="#">1</a>
                    </li>

                    <li th:if="${end < list.totalPages}" class="page-item">
                        <a th:href="@{/manage/gymWear/list?(page=${start + maxPage -1}, searchVal=${searchVal})}" class="page-link"
                           href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>

                    <li th:if="${end < list.totalPages}" class="page-item">
                        <a th:href="@{/manage/gymWear/list?(page=${list.totalPages-1}, searchVal=${searchVal})}" class="page-link" href="#"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</th:block>
</html>

<script>
    //관리자 리스트 조회
    function gymWearList(){
        let number = document.querySelector('#number').value;
        let searchVal = document.querySelector('#searchVal').value;
        let size = document.querySelector('#size').value;

        location.href = "/manage/gymWear/list?number="+number+"&searchVal="+searchVal+"&size="+size;
    }

    //짐웨어 삭제
    function gymWearDelete(target){
         console.log(target.getAttribute('data-id'))
        if (confirm("정말로 삭제하시겠습니까?")) {
            const form = document.createElement('form');
            form.setAttribute('method', 'post');        //Post 메소드 적용
            form.setAttribute('action', '/manage/gymWear/delete');

            let input1 = document.createElement('input');
            input1.setAttribute("type", "hidden");
            input1.setAttribute("name", "id");
            input1.setAttribute("value", target.getAttribute('data-id'));

            form.appendChild(input1);
            console.log(form);
            document.body.appendChild(form);
            form.submit();
        }
    }
</script>