<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="fragment/config :: configFragment"></th:block>
</head>

<body>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <!-- side bar -->
        <th:block th:replace="fragment/sidebar :: sideFragment"></th:block>

        <!-- content -->
        <th:block layout:fragment="content"></th:block>
    </div>
</body>
</html>